numpy # Don't remove
soundfile # Don't remove
museval
mir_eval
openunmix>=1.2.0
scipy
norbert
asteroid
pytorch-lightning
# please make sure you have already a pytorch install that is cuda enabled!
dora-search
diffq>=0.2.1
einops
flake8
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
lameenc>=1.2
mypy
pyyaml
submitit
torch>=1.11.0
torchaudio>=0.11.0
tqdm
treetable
